<div *ngIf="show$ | async as show" class="text-white container mx-auto py-4">
  <h1 class="text-2xl mb-4">{{ show.title }}</h1>

  <div class="flex justify-between gap-6 h-[600px]">
    <div class="basis-2/4">
      <img [src]="show.coverImageUrl" alt="" class="max-h-full" />
    </div>
    <div class="basis-2/4">
      <p>
        {{ show.description }}
      </p>
      <ul>
        <li *ngFor="let mood of show.moodBoard">
          {{ mood.title }} - {{ mood.percentage }}
        </li>
      </ul>
      <button
        class="text-white rounded-2xl bg-gray-900 h-12 py-2 px-5 mt-10 hover:border hover:border-red-900"
        type="button"
        routerLink="/list"
      >
        Back
      </button>
    </div>
  </div>
</div>
